.background{
background-color: #b8d8a3;
}
.container{
	margin: 0 auto;
	width 50%;
	text-align: center;
}
.square{
		 width: 700px;
		 height: 500px;
		
 }
 
 <link href="css/registration.css" rel="stylesheet"