.navbar-inverse .navbar-brand {
    color: #688843;
}
.navbar-inverse .navbar-nav>li>a {
    color: #688843;
}
.navbar-inverse {
    background-color: #b8d8a3;
    border-color: #efdec0;
}
body {
    font-family: 'Sansita', sans-serif !important;
    color: #cc8b22;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: #cc8b22;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #688843;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #b8d8a3;
}
.navbar-inverse .navbar-toggle {
    border-color: #688843;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #688843;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #efdec0;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #efdec0;
}
.h5, h5 {
    font-size: 14px;
    color: #b8d8a3;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn-right {
	box-sizing: border-box;
	padding: 8px 20px;
    background-color: #fff;
    border: 1px solid #688843;
    border-radius: 4px;
    color: #688843;
}
.width66 {
	width: 66%;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.display-in-line {
	display: inline;
}
.comment-box {
    border: 1px solid #efdec0;
    border-radius: 4px;
    color: #cc8b22;
    font-size: 12px;
    width: 66%;
    padding: 5px;
    margin: 0 0 10px 0;

}

.comment-box-date {
	color: #688843;
    font-size: 10px;
    font-style: italic;
    margin: 0 0 0 7px;

}
.recipe-box {
	border: 1px solid #efdec0;
    border-radius: 4px;
    color: #1a2211;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
}
.margin-right{
	margin-right: 8px;
}
.margin-left{
	margin-left: 8px;
}
.display-inline{
	display: inline-block;
}
